In [96]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [90]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2022-04-10 14:55:24,38.5167,-28.7000,55.80,76,40,27.63
1,1,Ushuaia,AR,2022-04-10 14:55:24,-54.8000,-68.3000,44.22,61,0,4.61
2,2,Barrow,US,2022-04-10 14:55:25,71.2906,-156.7887,-6.83,93,97,8.93
3,3,Chuy,UY,2022-04-10 14:55:25,-33.6971,-53.4616,76.62,58,3,11.63
4,4,Kavaratti,IN,2022-04-10 14:55:25,10.5669,72.6420,83.97,75,100,8.75

In [91]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [92]:
# configure gmaps to use your google api key
gmaps.configure(api_key=g_key)

In [80]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [81]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
dissipating = False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [82]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# heatmap of percent cloudiness
location = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating = False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [84]:
# heatmap of percent wind speed
location = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating = False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [85]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [86]:
# filter the dataset to find the cities that for the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)
preferred_cities_df.dropna(inplace=True)
preferred_cities_df.head(10)

C:\Users\mhh50\anaconda3\envs\PythonData\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Chuy,UY,2022-04-10 14:55:25,-33.6971,-53.4616,76.62,58,3,11.63
4,4,Kavaratti,IN,2022-04-10 14:55:25,10.5669,72.6420,83.97,75,100,8.75
5,5,Maxixe,MZ,2022-04-10 14:55:26,-23.8597,35.3472,75.02,94,75,5.01
8,8,Caravelas,BR,2022-04-10 14:55:27,-17.7125,-39.2481,88.03,54,3,9.44
9,9,Midland,US,2022-04-10 14:55:27,31.9974,-102.0779,77.13,34,0,10.36
12,12,Marzuq,YE,2022-04-10 14:55:28,14.4000,46.4667,79.32,29,0,18.70
18,18,Butaritari,KI,2022-04-10 14:55:29,3.0707,172.7902,80.49,76,100,8.93
21,21,Cape Town,ZA,2022-04-10 14:51:11,-33.9258,18.4232,81.27,34,0,13.80
23,23,Kerema,PG,2022-04-10 14:55:31,-7.9631,145.7785,78.89,91,99,4.61
29,29,Kloulklubed,PW,2022-04-10 14:55:32,7.0419,134.2556,81.10,84,100,23.71

In [97]:
preferred_cities_df.count()

City_ID       234
City          234
Country       234
Date          234
Lat           234
Lng           234
Max Temp      234
Humidity      234
Cloudiness    234
Wind Speed    234
dtype: int64

In [98]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
3          Chuy      UY     76.62 -33.6971  -53.4616
4     Kavaratti      IN     83.97  10.5669   72.6420
5        Maxixe      MZ     75.02 -23.8597   35.3472
8     Caravelas      BR     88.03 -17.7125  -39.2481
9       Midland      US     77.13  31.9974 -102.0779
12       Marzuq      YE     79.32  14.4000   46.4667
18   Butaritari      KI     80.49   3.0707  172.7902
21    Cape Town      ZA     81.27 -33.9258   18.4232
23       Kerema      PG     78.89  -7.9631  145.7785
29  Kloulklubed      PW     81.10   7.0419  134.2556

In [104]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [110]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [108]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [109]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]